.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.App-title {
  font-size: 2em;
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

.warning {
  color: darken(red, 20%);
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.dd-logo {
  height: 150px;
}


.header {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  text-emphasis: center;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  h1 {
    font-size: 4em;
    z-index: 2;
    margin: auto;
    color: #fff;
    z-index: 2;
  }
  a {
    color: #fff;
    z-index: 2;
    position: absolute;
    bottom: 5vh;
    left: 50%;
  }
}

